header {
  width: 90%;
  margin: 0 auto;
  padding: 2vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  border-bottom: 4px solid var(--sub-color);
}

header > a {
  padding: 2vh 1vw;
  color: var(--sub-color);
}

.header-icon {
  padding-left: 3vw;
  position: relative;
}
.header-icon::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 2.5vw;
  height: 2.5vw;
  mask-image: url(./src/assets/pencil.svg);
  mask-repeat: no-repeat;
  mask-position: center left;
  mask-size: contain;
  background-color: var(--sub-color);
}
